{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/Objects/Rack/interfacebody.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [10, 32],
      "dimensions" : [4, 5],
      "spacing" : [40, 40],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "position" : [161, 242]
    }
  }
}
