{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/Objects/VaccumNode/digitalstorage_vaccumnodeheader.png",
			//"fileBody" : "/interface/chests/.png",
			"fileBody" : "/Objects/VaccumNode/digitalstorage_vaccumnodebody.png",
			"fileFooter" : "/Objects/VaccumNode/digitalstorage_vaccumnodefooter.png"
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [11, 32],
			"dimensions" : [4, 4],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/empty.png"
		},

		"upgradeCardText" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"value" : "Upgrades:",
			"position" : [18, 128]
		},

		"upgradeCard" : {
			"type" : "itemslot",
			"position" : [68, 124],
			"showCount" : true,
			"showRarity" : true,
			"showDurability" : false,
			"backingImage" : "/interface/inventory/empty.png",
			"rightClickCallback" : "null"
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"position" : [84, 158]
		}
	},
	"scripts" : ["/Objects/VaccumNode/digitalstorage_vaccumnodeGUI.lua"],
	"scriptWidgetCallbacks" : [
		"upgradeCard"
	],
	"scriptDelta" : 0
}
