{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/Objects/DriveUpgrader/digitalstorage_driveupgraderheader.png",
      "fileBody" : "/Objects/DriveUpgrader/digitalstorage_driveupgraderbody.png",
      "fileFooter" : "/Objects/DriveUpgrader/digitalstorage_driveupgraderfooter.png"
    },
    "itemGrid" : {
			"type" : "itemgrid",
			"position" : [0, 0],
			"dimensions" : [0, 0],
			"spacing" : [0, 0],
			"backingImage" : "/interface/inventory/empty.png"
		},
    "drive" : {
      "type" : "itemslot",
      "position" : [2, 56],
      "showCount" : true,
      "showRarity" : true,
      "showDurability" : false,
      "callback" : "drive",
      "backingImage" : "/interface/inventory/empty.png",
      "rightClickCallback" : "null"
    },
    "filter" : {
      "type" : "itemslot",
      "position" : [2, 36],
      "showCount" : true,
      "showRarity" : true,
      "showDurability" : false,
      "callback" : "filter",
      "backingImage" : "/interface/inventory/empty.png",
      "rightClickCallback" : "null"
    },
    "priority" : {
      "callback" : "priority",
      "type" : "textbox",
      "position" : [3,26],
      "hint" : "0",
      "maxWidth" : 20,
      "regex" : "x?\\d{0,4}",
      "escapeKey" : "close",
      "enterKey" : "null",
      "focus" : false
    },
    "capT1" : {
      "type" : "itemslot",
      "position" : [65, 26],
      "showCount" : true,
      "showRarity" : true,
      "showDurability" : false,
      "callback" : "capT1",
      "backingImage" : "/interface/inventory/empty.png",
      "rightClickCallback" : "null"
    },
    "capT2" : {
      "type" : "itemslot",
      "position" : [85, 26],
      "showCount" : true,
      "showRarity" : true,
      "showDurability" : false,
      "callback" : "capT2",
      "backingImage" : "/interface/inventory/empty.png",
      "rightClickCallback" : "null"
    },
    "capT3" : {
      "type" : "itemslot",
      "position" : [105, 26],
      "showCount" : true,
      "showRarity" : true,
      "showDurability" : false,
      "callback" : "capT3",
      "backingImage" : "/interface/inventory/empty.png",
      "rightClickCallback" : "null"
    },
    "sizeT1" : {
      "type" : "itemslot",
      "position" : [65, 46],
      "showCount" : true,
      "showRarity" : true,
      "showDurability" : false,
      "callback" : "sizeT1",
      "backingImage" : "/interface/inventory/empty.png",
      "rightClickCallback" : "null"
    },
    "sizeT2" : {
      "type" : "itemslot",
      "position" : [85, 46],
      "showCount" : true,
      "showRarity" : true,
      "showDurability" : false,
      "callback" : "sizeT2",
      "backingImage" : "/interface/inventory/empty.png",
      "rightClickCallback" : "null"
    },
    "sizeT3" : {
      "type" : "itemslot",
      "position" : [105, 46],
      "showCount" : true,
      "showRarity" : true,
      "showDurability" : false,
      "callback" : "sizeT3",
      "backingImage" : "/interface/inventory/empty.png",
      "rightClickCallback" : "null"
    },
    "mk1" : {
			"type" : "label",
			"position" : [67, 64],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"value" : "Mk.1"
		},
    "mk2" : {
			"type" : "label",
			"position" : [86, 64],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"value" : "Mk.2"
		},
    "mk3" : {
			"type" : "label",
			"position" : [106, 64],
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"value" : "Mk.3"
		},
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "position" : [110, 80]
    }
  },
  "scriptWidgetCallbacks" : [
    "priority",
	"filter",
  "drive",
  "sizeT3",
  "sizeT2",
  "sizeT1",
  "capT3",
  "capT2",
  "capT1"
  ],
  "scripts" : ["/Objects/DriveUpgrader/digitalstorage_driveupgraderGUI.lua"],
  "scriptDelta" : 0
}
