{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/Objects/FilterFormatter/digitalstorage_filterformatterheader.png",
			//"fileBody" : "/interface/chests/.png",
			"fileBody" : "/Objects/FilterFormatter/digitalstorage_filterformatterbody.png",
			"fileFooter" : "/Objects/FilterFormatter/digitalstorage_filterformatterfooter.png"
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [0, 0],
			"dimensions" : [0, 0],
			"spacing" : [0, 0],
			"backingImage" : "/interface/inventory/empty.png"
		},

		"filterCard" : {
			"type" : "itemslot",
			"position" : [2, 245],
			"showCount" : true,
			"showRarity" : true,
			"showDurability" : false,
			"callback" : "filterCardCallback",
			"backingImage" : "/interface/inventory/empty.png",
			"rightClickCallback" : "null"
		},
		"modeLabel" : {
			"type" : "label",
			"position" : [27, 258],
			"hAnchor" : "left",
			"vAnchor" : "top",
			"wrapWidth" : 116,
			"lineSpacing" : 1.05,
			"value" : "Mode:"
		},
		"changeMode" : {
			"type" : "button",
			"base" : "/Objects/FilterFormatter/button.png",
			"hover" : "/Objects/FilterFormatter/buttonhover.png",
			"position" : [50, 247],
			"caption" : "Blacklist"
		},

		"rename" : {
			"type" : "textbox",
			"position" : [5, 230],
			"maxWidth" : 90,
			"escapeKey" : "rename",
			"enterKey" : "rename",
			"hint" : "New name",
			"focus" : false
		},

		// "save" : {
		// 	"type" : "button",
		// 	"base" : "/Objects/FilterFormatter/button.png",
		// 	"hover" : "/Objects/FilterFormatter/buttonhover.png",
		// 	"position" : [3, 227],
		// 	"caption" : "Save"
		// },
		"clear" : {
			"type" : "button",
			"base" : "/Objects/FilterFormatter/button.png",
			"hover" : "/Objects/FilterFormatter/buttonhover.png",
			"position" : [103, 227],
			"caption" : "Clear"
		},
		// "reset" : {
		// 	"type" : "button",
		// 	"base" : "/Objects/FilterFormatter/button.png",
		// 	"hover" : "/Objects/FilterFormatter/buttonhover.png",
		// 	"position" : [103, 227],
		// 	"caption" : "Reset"
		// },

		"tabs" : {
			"type" : "tabSet",
			"tabButtonBaseImage" : "/Objects/FilterFormatter/tabbase.png",
			"tabButtonHoverImage" : "/Objects/FilterFormatter/tabover.png",
			"tabButtonBaseImageSelected" : "/Objects/FilterFormatter/tabselected.png",
			"tabButtonHoverImageSelected" : "/Objects/FilterFormatter/tabselectedover.png",
			"tabButtonPressedOffset" : [0, 0],
			"tabButtonTextOffset" : [0, -1],
			"tabButtonSpacing" : [-1, 0],
			"rect" : [2, 25, 152, 225],
			"tabs" : [
				{
					"tabName" : "item",
					"tabTitle" : "Item",
					"children" : {

						"newItemFilter" : {
							"type" : "itemslot",
							"position" : [0, 160],
							"showCount" : false,
							"showRarity" : true,
							"showDurability" : false,
							"callback" : "newItemFilterCallback",
							"backingImage" : "/interface/inventory/empty.png",
							"rightClickCallback" : "null"
						},

						"addItemFilter" : {
							"callback" : "addItemFilter",
							"type" : "button",
							"base" : "/Objects/FilterFormatter/buttonAdd.png",
							"hover" : "/Objects/FilterFormatter/buttonAdd.png",
							"pressed" : "/Objects/FilterFormatter/buttonAdd.png",
							"position" : [112, 160]
						},

						"removeItemFilter" : {
							"type" : "button",
							"base" : "/Objects/FilterFormatter/buttonRemove.png",
							"hover" : "/Objects/FilterFormatter/buttonRemove.png",
							"pressed" : "/Objects/FilterFormatter/buttonRemove.png",
							"position" : [132, 160]
						},

						"scrollArea" : {
							"type" : "scrollArea",
							"rect" : [0, 0, 150, 155],
							"children" : {
								"itemList" : {
									"type" : "list",
									"schema" : {
										"selectedBG" : "/Objects/Terminal/itemselected.png",
										"unselectedBG" : "/Objects/Terminal/itembackground.png",
										"spacing" : [0, 1],
										"memberSize" : [140, 20],
										"listTemplate" : {
											"background" : {
												"type" : "image",
												"file" : "/Objects/Terminal/itembackground.png",
												"position" : [0, 0],
												"zlevel" : -1
											},
											"itemName" : {
												"type" : "label",
												"position" : [22, 18],
												"hAnchor" : "left",
												"vAnchor" : "top",
												"wrapWidth" : 116,
												"lineSpacing" : 1.05,
												"value" : "Replace Me"
											},
											"itemIcon" : {
												"type" : "itemslot",
												"position" : [1, 1],
												"showCount" : false,
												"showRarity" : true,
												"showDurability" : false,
												"callback" : "null",
												"rightClickCallback" : "null"
											}
										}
									}
								}
							}
						}
					}
				},
				{
					"tabName" : "text",
					"tabTitle" : "Text",
					"children" : {
						"newTextFilter" : {
							"type" : "textbox",
							"position" : [2, 165],
							"hint" : "Filter",
							"maxWidth" : 100,
							"escapeKey" : "close",
							"enterKey" : "addTextFilter",
							"focus" : false
						},
						"addTextFilterx" : {
							"callback" : "addTextFilter",
							"type" : "button",
							"base" : "/Objects/FilterFormatter/buttonAdd.png",
							"hover" : "/Objects/FilterFormatter/buttonAdd.png",
							"pressed" : "/Objects/FilterFormatter/buttonAdd.png",
							"position" : [112, 160]
						},

						"removeTextFilter" : {
							"type" : "button",
							"base" : "/Objects/FilterFormatter/buttonRemove.png",
							"hover" : "/Objects/FilterFormatter/buttonRemove.png",
							"pressed" : "/Objects/FilterFormatter/buttonRemove.png",
							"position" : [132, 160]
						},

						"scrollArea" : {
							"type" : "scrollArea",
							"rect" : [0, 0, 150, 155],
							"children" : {
								"textList" : {
									"type" : "list",
									"schema" : {
										"selectedBG" : "/Objects/FilterFormatter/itemselected.png",
										"unselectedBG" : "/Objects/FilterFormatter/itembackground.png",
										"spacing" : [0, 1],
										"memberSize" : [140, 11],
										"listTemplate" : {
											"background" : {
												"type" : "image",
												"file" : "/Objects/FilterFormatter/itembackground.png",
												"position" : [0, 0],
												"zlevel" : -1
											},
											"filterText" : {
												"type" : "label",
												"position" : [3, 9],
												"hAnchor" : "left",
												"vAnchor" : "top",
												"wrapWidth" : 134,
												"lineSpacing" : 1.05,
												"value" : "Replace Me"
											}
										}
									}
								}
							}
						}
					}
				}
			]
		},





		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"position" : [143, 339]
		}
	},
	"scriptWidgetCallbacks" : [
		"newItemFilterCallback",
		"addTextFilter",
		"save",
		"clear",
		"filterCardCallback",
		"reset",
		"newTextFilter",
		"removeTextFilter",
		"removeItemFilter",
		"addItemFilter",
		"removeItemFilter2",
		"addItemFilter2",
		"changeMode",

		"rename"
	],
	"scripts" : ["/Objects/FilterFormatter/digitalstorage_filterformatterGUI.lua"],
	"scriptDelta" : 0
}
