{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/Objects/TransferNode/digitalstorage_transfernodeheader.png",
			"fileBody" : "/Objects/AmountEmitter/interfacebody.png",
			"fileFooter" : "/Objects/TransferNode/digitalstorage_transfernodefooter.png"
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [0, 0],
			"dimensions" : [0, 0],
			"spacing" : [0, 0],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"itemSlot" : {
			"type" : "itemslot",
			"position" : [2, 25],
			"showCount" : false,
			"showRarity" : true,
			"showDurability" : false,
			"callback" : "itemSlot",
			"backingImage" : "/interface/inventory/empty.png",
			"rightClickCallback" : "null"
		},
		"mode" : {
			"type" : "button",
			"base" : "/Objects/FilterFormatter/button.png",
			"hover" : "/Objects/FilterFormatter/buttonhover.png",
			"position" : [24, 26],
			"caption" : "<="
		},
		"how_many" : {
			"type" : "textbox",
			"position" : [60, 29],
			"maxWidth" : 80,
			"textAlign" : "center",
			"regex" : "x?\\d{0,9}",
			"escapeKey" : "close",
			"enterKey" : "how_many",
			"hint" : "Amount",
			"focus" : false
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"position" : [150, 50]
		}
	},
	"scripts" : ["/Objects/AmountEmitter/digitalstorage_amountemitterGUI.lua"],
	"scriptWidgetCallbacks" : [
		"itemSlot",
		"mode",
		"how_many"
	],
	"scriptDelta" : 0
}
