{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/Objects/TransferNode/digitalstorage_transfernodeheader.png",
			"fileBody" : "/Objects/TransferNode/digitalstorage_transfernodebody.png",
			"fileFooter" : "/Objects/TransferNode/digitalstorage_transfernodefooter.png"
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [0, 0],
			"dimensions" : [0, 0],
			"spacing" : [0, 0],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"tabs" : {
			"visible" : false,
			"type" : "tabSet",
			"tabButtonBaseImage" : "/Objects/FilterFormatter/tabbase.png",
			"tabButtonHoverImage" : "/Objects/FilterFormatter/tabover.png",
			"tabButtonBaseImageSelected" : "/Objects/FilterFormatter/tabselected.png",
			"tabButtonHoverImageSelected" : "/Objects/FilterFormatter/tabselectedover.png",
			"tabButtonPressedOffset" : [0, 0],
			"tabButtonTextOffset" : [0, -1],
			"tabButtonSpacing" : [-1, 0],
			"rect" : [1, 22, 202, 272],
			"tabs" : [
				{
					"tabName" : "config",
					"tabTitle" : "Config",
					"children" : {

						"separator0" : {
							"type" : "image",
							"file" : "/Objects/TransferNode/digitalstorage_transfernodebodyConfigBorders.png",
							"position" : [0, 0]
						},
						"configCard" : {
							"type" : "itemslot",
							"position" : [1, 215],
							"showCount" : true,
							"showRarity" : true,
							"showDurability" : false,
							"callback" : "configCard",
							"backingImage" : "/interface/inventory/empty.png",
							"rightClickCallback" : "null"
						},
						"saveConfig" : {
							"type" : "button",
							"callback" : "saveConfig",
							"base" : "/Objects/TransferNode/button.png",
							"hover" : "/Objects/TransferNode/buttonhover.png",
							"caption" : "Save",
							"position" : [25, 217]
						},
						"loadConfig" : {
							"type" : "button",
							"callback" : "loadConfig",
							"base" : "/Objects/TransferNode/button.png",
							"hover" : "/Objects/TransferNode/buttonhover.png",
							"caption" : "Load",
							"position" : [64, 217]
						},

						"renameCard" : {
							"visible" : false,
							"type" : "textbox",
							"position" : [1, 206],
							"maxWidth" : 100,
							"textAlign" : "left",
							"escapeKey" : "renameCard",
							"enterKey" : "renameCard",
							"hint" : "Config Card"
						},

						"filterCard" : {
							"type" : "itemslot",
							"position" : [1, 180],
							"showCount" : false,
							"showRarity" : true,
							"showDurability" : false,
							"callback" : "filterCard",
							"backingImage" : "/interface/inventory/empty.png",
							"rightClickCallback" : "null"
						},
						"addFilterCard" : {
							"type" : "button",
							"callback" : "addFilterCard",
							"base" : "/Objects/FilterFormatter/buttonAdd.png",
							"position" : [63, 180]
						},
						"removeFilterCard" : {
							"type" : "button",
							"callback" : "removeFilterCard",
							"base" : "/Objects/FilterFormatter/buttonRemove.png",
							"position" : [83, 180]
						},

						"filterArea" : {
							"type" : "scrollArea",
							"rect" : [1, 0, 100, 178],
							"children" : {
								"filterList" : {
									"type" : "list",
									"callback" : "filter",
									"schema" : {
										"selectedBG" : "/Objects/TransferNode/filterlistselected.png",
										"unselectedBG" : "/Objects/TransferNode/filterlistbackground.png",
										"spacing" : [0, 1],
										"memberSize" : [90, 10],
										"listTemplate" : {
											"background" : {
												"type" : "image",
												"file" : "/Objects/TransferNode/filterlistbackground.png",
												"position" : [0, 0],
												"zlevel" : -1
											},
											"mode" : {
												"type" : "image",
												"file" : "/Objects/TransferNode/filterModeNone.png",
												"position" : [1, 1],
												"zlevel" : -1
											},
											"textFilter" : {
												"type" : "label",
												"position" : [10, 1],
												"value" : "Replace Me"
											}
										}
									}
								}
							}
						},




						"basicDetails" : {
							"visible" : false,
							"type" : "layout",
							"layoutType" : "basic",
							"rect" : [108, 0, 202, 234],
							"children" : {
								"filterModeLabel" : {
									"type" : "label",
									"value" : "Mode:",
									"position" : [2, 220]
								},
								"filterModeChange" : {
									"type" : "button",
									"callback" : "filterModeChange",
									"base" : "/Objects/TransferNode/button48.png",
									"hover" : "/Objects/TransferNode/buttonhover48.png",
									"caption" : "Replace Me",
									"position" : [26, 217]
								},
								"separator1" : {
									"type" : "image",
									"file" : "/Objects/TransferNode/digitalstorage_transfernodebody_separator.png",
									"position" : [0, 209]
								},
								"activationLabel" : {
									"type" : "label",
									"value" : "Activation:",
									"position" : [2, 197]
								},
								"activationModeChange" : {
									"type" : "button",
									"callback" : "activationModeChange",
									"base" : "/Objects/TransferNode/button.png",
									"hover" : "/Objects/TransferNode/buttonhover.png",
									"caption" : "Replace",
									"position" : [50, 194]
								},
								"manual" : {
									"visible" : false,
									"type" : "layout",
									"layoutType" : "basic",
									"rect" : [0, 179, 100, 193],
									"children" : {
										"manualStateChange" : {
											"type" : "button",
											"callback" : "manualStateChange",
											"base" : "/Objects/TransferNode/button.png",
											"hover" : "/Objects/TransferNode/buttonhover.png",
											"caption" : "Replace",
											"position" : [30, 0]
										}
									}
								},
								"wire" : {
									"visible" : false,
									"type" : "layout",
									"layoutType" : "basic",
									"rect" : [0, 179, 100, 193],
									"children" : {
										"wireStateChange" : {
											"type" : "button",
											"callback" : "wireStateChange",
											"base" : "/Objects/TransferNode/button.png",
											"hover" : "/Objects/TransferNode/buttonhover.png",
											"caption" : "Replace",
											"position" : [30, 0]
										}
									}
								},
								"item" : {
									"visible" : false,
									"type" : "layout",
									"layoutType" : "basic",
									"rect" : [1, 174, 100, 193],
									"children" : {
										"activationItem" : {
											"type" : "itemslot",
											"position" : [2, 0],
											"showCount" : false,
											"showRarity" : true,
											"showDurability" : false,
											"callback" : "activationItem",
											"backingImage" : "/interface/inventory/empty.png",
											"rightClickCallback" : "null"
										},
										"compare" : {
											"type" : "button",
											"callback" : "compareVal",
											"base" : "/Objects/TransferNode/button.png",
											"hover" : "/Objects/TransferNode/buttonhover.png",
											"caption" : "Replace",
											"position" : [22, 2]
										},
										"how_many" : {
											"type" : "textbox",
											"position" : [64, 5],
											"maxWidth" : 30,
											"textAlign" : "left",
											"regex" : "x?\\d{0,9}",
											"escapeKey" : "close",
											"enterKey" : "how_many",
											"hint" : "0"
										}
									}
								},
								"separator2" : {
									"type" : "image",
									"file" : "/Objects/TransferNode/digitalstorage_transfernodebody_separator.png",
									"position" : [0, 168]
								},
								"additionalSettings" : {
									"type" : "button",
									"callback" : "additionalSettings",
									"base" : "/Objects/TransferNode/button96.png",
									"hover" : "/Objects/TransferNode/buttonhover96.png",
									"caption" : "Additional Settings",
									"position" : [1, 152]
								},
								"separator3" : {
									"type" : "image",
									"file" : "/Objects/TransferNode/digitalstorage_transfernodebody_separator.png",
									"position" : [0, 146]
								},

								"slot" : {
									"callback" : "null",
									"type" : "textbox",
									"position" : [2, 135],
									"hint" : "Slots",
									"maxWidth" : 60,
									"regex" : "x?\\d{0,4}",
									"escapeKey" : "close",
									"enterKey" : "null",
									"focus" : false
								},
								"addSlot" : {
									"type" : "button",
									"callback" : "addSlot",
									"base" : "/Objects/TransferNode/digitalstorage_transfernodeAddSlot.png",
									"position" : [68, 134]
								},
								"removeSlot" : {
									"type" : "button",
									"callback" : "removeSlot",
									"base" : "/Objects/TransferNode/digitalstorage_transfernodeRemoveSlot.png",
									"position" : [80, 134]
								},

								"slotsArea" : {
									"type" : "scrollArea",
									"rect" : [2, 18, 90, 132],
									"children" : {
										"slotsList" : {
											"type" : "list",
											"schema" : {
												"selectedBG" : "/Objects/TransferNode/slotlistselected.png",
												"unselectedBG" : "/Objects/TransferNode/slotlistbackground.png",
												"spacing" : [0, 1],
												"memberSize" : [80, 11],
												"listTemplate" : {
													"background" : {
														"type" : "image",
														"file" : "/Objects/TransferNode/slotlistbackground.png",
														"position" : [0, 0],
														"zlevel" : -1
													},
													"slots" : {
														"type" : "label",
														"position" : [3, 1],
														"value" : "Replace Me"
													}
												}
											}
										}
									}
								},
								"invertMode" : {
									"type" : "button",
									"callback" : "invertMode",
									"base" : "/Objects/TransferNode/button96.png",
									"hover" : "/Objects/TransferNode/buttonhover96.png",
									"caption" : "Replace",
									"position" : [1, 2]
								}
							}

						},
						"additionalDetails" : {
							"visible" : false,
							"type" : "layout",
							"layoutType" : "basic",
							"rect" : [108, 0, 202, 234],
							"children" : {
								"import" : {
									"visible" : false,
									"type" : "layout",
									"layoutType" : "basic",
									"rect" : [0, 0, 95, 234],
									"children" : {
										"leave" : {
											"type" : "label",
											"position" : [2, 220],
											"value" : "Leave:"
										},
										"leave_count" : {
											"type" : "textbox",
											"position" : [30, 220],
											"maxWidth" : 30,
											"textAlign" : "left",
											"regex" : "x?\\d{0,9}",
											"escapeKey" : "close",
											"enterKey" : "leave_count",
											"hint" : "0"
										}
									}
								},
								"export" : {
									"visible" : false,
									"type" : "layout",
									"layoutType" : "basic",
									"rect" : [0, 0, 95, 234],
									"children" : {
										"upTo" : {
											"type" : "label",
											"position" : [2, 220],
											"value" : "Export up to:"
										},
										"upTo_count" : {
											"type" : "textbox",
											"position" : [58, 220],
											"maxWidth" : 30,
											"textAlign" : "left",
											"regex" : "x?\\d{0,9}",
											"escapeKey" : "close",
											"enterKey" : "upTo_count",
											"hint" : "0"
										},
										"exportMode" : {
											"type" : "button",
											"callback" : "exportMode",
											"base" : "/Objects/TransferNode/button96.png",
											"hover" : "/Objects/TransferNode/buttonhover96.png",
											"caption" : "Replace Me",
											"position" : [1, 202]
										},
										"separator3" : {
											"type" : "image",
											"file" : "/Objects/TransferNode/digitalstorage_transfernodebody_separator.png",
											"position" : [0, 196]
										},
										"multiple" : {
											"type" : "label",
											"position" : [2, 186],
											"value" : "Multiple:"
										},
										"multiple_count" : {
											"type" : "textbox",
											"position" : [40, 186],
											"maxWidth" : 30,
											"textAlign" : "left",
											"regex" : "x?\\d{0,9}",
											"escapeKey" : "close",
											"enterKey" : "multiple_count",
											"hint" : "0"
										}
									}
								},
								"back" : {
									"type" : "button",
									"callback" : "back",
									"base" : "/Objects/TransferNode/button96.png",
									"hover" : "/Objects/TransferNode/buttonhover96.png",
									"caption" : "Back",
									"position" : [1, 2]
								}
							}
						}

					}
				},
				{
					"visible" : false,
					"tabName" : "upgrades",
					"tabTitle" : "Upgrades",
					"children" : {
						"importUpgrades" : {
							"type" : "label",
							"value" : "Import:",
							"position" : [1, 223]
						},
						"exportUpgrades" : {
							"type" : "label",
							"value" : "Export:",
							"position" : [101, 223]
						},
						"importUpgradeSpeedSlot" : {
							"type" : "itemslot",
							"position" : [1, 204],
							"showCount" : true,
							"showRarity" : true,
							"showDurability" : false,
							"backingImage" : "/interface/inventory/empty.png",
							"rightClickCallback" : "null"
						},
						"exportUpgradeSpeedSlot" : {
							"type" : "itemslot",
							"position" : [101, 204],
							"showCount" : true,
							"showRarity" : true,
							"showDurability" : false,
							"backingImage" : "/interface/inventory/empty.png",
							"rightClickCallback" : "null"
						}
					}
				}
			]
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"position" : [185, 278]
		}
	},
	"scripts" : ["/Objects/TransferNode/digitalstorage_transfernodeGUI.lua"],
	"scriptWidgetCallbacks" : [
		"configCard",
		"saveConfig",
		"loadConfig",
		"renameCard",

		"filter",
		"filterCard",
		"addFilterCard",
		"removeFilterCard",

		"filterModeChange",

		"activationModeChange",
		"manualStateChange",
		"wireStateChange",
		"activationItem",
		"compareVal",
		"how_many",

		"additionalSettings",
		"back",
		"leave_count",
		"upTo_count",
		"exportMode",
		"multiple_count",

		"slot",
		"addSlot",
		"removeSlot",
		"invertMode",

		"importUpgradeSpeedSlot",
		"exportUpgradeSpeedSlot"
	],
	"scriptDelta" : 0
}
