{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/Objects/Terminal/terminalbody.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [0, 0],
      "dimensions" : [0, 0],
      "spacing" : [0, 0],
      "backingImage" : "/interface/inventory/empty.png"
    },


    "network" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [2, 25, 157, 329],
      "children" : {
        "btn1" : {
          "callback" : "get1",
          "type" : "button",
          "base" : "/Objects/Terminal/button.png",
          "hover" : "/Objects/Terminal/buttonhover.png",
          "position" : [0, 14],
          "caption" : "1"
        },
        "btn10" : {
          "callback" : "get10",
          "type" : "button",
          "base" : "/Objects/Terminal/button.png",
          "hover" : "/Objects/Terminal/buttonhover.png",
          "position" : [39, 14],
          "caption" : "10"
        },
        "btn100" : {
          "callback" : "get100",
          "type" : "button",
          "base" : "/Objects/Terminal/button.png",
          "hover" : "/Objects/Terminal/buttonhover.png",
          "position" : [78, 14],
          "caption" : "100"
        },
        "btn1000" : {
          "callback" : "get1000",
          "type" : "button",
          "base" : "/Objects/Terminal/button.png",
          "hover" : "/Objects/Terminal/buttonhover.png",
          "position" : [117, 14],
          "caption" : "1000"
        },
        "submit" : {
          "callback" : "getCount",
          "type" : "button",
          "base" : "/Objects/Terminal/button.png",
          "hover" : "/Objects/Terminal/buttonhover.png",
          "position" : [117, 28],
          "caption" : "Get"
        },
        "how_many" : {
          "type" : "textbox",
          "position" : [2, 31],
          "maxWidth" : 80,
          "textAlign" : "center",
          "regex" : "x?\\d{0,4}",
          "escapeKey" : "close",
          "enterKey" : "how_many",
          "hint" : "How many?",
          "focus" : false
        },
        "filter" : {
          "type" : "textbox",
          "position" : [2, 280],
          "hint" : "Search",
          "maxWidth" : 113,
          "escapeKey" : "close",
          "enterKey" : "filterEnt",
          "focus" : false
        },
        "clear" : {
          "callback" : "clearFilter",
          "type" : "button",
          "base" : "/Objects/Terminal/button.png",
          "hover" : "/Objects/Terminal/buttonhover.png",
          "position" : [117, 279],
          "caption" : "Clear"
        },
        "sort" : {
          "callback" : "sort",
          "type" : "button",
          "base" : "/Objects/Terminal/button.png",
          "hover" : "/Objects/Terminal/buttonhover.png",
          "position" : [117, 0],
          "caption" : "Sort"
        },
        "scan" : {
          "callback" : "scan",
          "type" : "button",
          "base" : "/Objects/Terminal/buttonWide.png",
          "hover" : "/Objects/Terminal/buttonWidehover.png",
          "position" : [0, 0],
          "caption" : "Scan for blueprints"
        },
        "scanning" : {
          "type" : "label",
          "vAnchor" : "bottom",
          "hAnchor" : "left",
          "position" : [0, 0],
          "visible" : false,
          "value" : "Please wait."
        },
        "scanfailed" : {
          "type" : "label",
          "vAnchor" : "bottom",
          "hAnchor" : "left",
          "position" : [0, 0],
          "visible" : false,
          "value" : "Empty your inventory."
        },
        "itemsArea" : {
          "type" : "scrollArea",
          "rect" : [0, 44, 154, 278],
          "children" : {
            "itemList" : {
              "type" : "list",
              "schema" : {
                "selectedBG" : "/Objects/Terminal/itemselected.png",
                "unselectedBG" : "/Objects/Terminal/itembackground.png",
                "spacing" : [0, 1],
                "memberSize" : [140, 20],
                "listTemplate" : {
                  "doubleclick": {
                    "type" : "button",
                    "base" : "/Objects/Terminal/shadowbutton.png",
                    "position" : [0, 0]
                  },
                  "craft": {
                    "type" : "button",
                    "base" : "/Objects/Terminal/itemCraftButton.png",
                    "position" : [22, 0],
                    "caption" : "Craft"
                  },
                  "background" : {
                    "type" : "image",
                    "file" : "/Objects/Terminal/itembackground.png",
                    "position" : [0, 0],
                    "zlevel" : -1
                  },
                  "itemName" : {
                    "type" : "label",
                    "position" : [22, 18],
                    "hAnchor" : "left",
                    "vAnchor" : "top",
                    "wrapWidth" : 116,
                    "lineSpacing" : 1.05,
                    "value" : "Replace Me"
                  },
                  "itemIcon" : {
                    "type" : "itemslot",
                    "position" : [1, 1],
                    "showCount" : false,
                    "showRarity" : true,
                    "showDurability" : false,
                    "callback" : "doubleclick",
                    "rightClickCallback" : "null"
                  },
                  "countLabel" : {
                    "type" : "label",
                    "position" : [137, 0],
                    "hAnchor" : "right",
                    "value" : "0"
                  }
                }
              }
            }
          }
        }
      }
    },
    "crafting" : {
      "visible" : false,
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [2, 25, 157, 331],
      "children" : {
        "upgradeButtons" : {
          "visible" : false,
          "type" : "layout",
          "layoutType" : "basic",
          "rect" : [0, 0, 157, 40],
          "children" : {
            "upgrade" : {
              "callback" : "upgradeStation",
              "type" : "button",
              "base" : "/Objects/Terminal/buttonWide.png",
              "hover" : "/Objects/Terminal/buttonWidehover.png",
              "position" : [65, 0],
              "caption" : "Upgrade"
            },
            "back" : {
              "type" : "button",
              "base" : "/Objects/FilterFormatter/button.png",
              "hover" : "/Objects/FilterFormatter/buttonhover.png",
              "position" : [0, 0],
              "caption" : "Back"
            }
          }
        },
        "craftingButtons" : {
          "type" : "layout",
          "layoutType" : "basic",
          "rect" : [0, 0, 157, 40],
          "children" : {
            "btn1" : {
              "callback" : "craft1",
              "type" : "button",
              "base" : "/Objects/Terminal/button.png",
              "hover" : "/Objects/Terminal/buttonhover.png",
              "position" : [0, 14],
              "caption" : "1"
            },
            "btn10" : {
              "callback" : "craft10",
              "type" : "button",
              "base" : "/Objects/Terminal/button.png",
              "hover" : "/Objects/Terminal/buttonhover.png",
              "position" : [39, 14],
              "caption" : "10"
            },
            "btn100" : {
              "callback" : "craft100",
              "type" : "button",
              "base" : "/Objects/Terminal/button.png",
              "hover" : "/Objects/Terminal/buttonhover.png",
              "position" : [78, 14],
              "caption" : "100"
            },
            "btn1000" : {
              "callback" : "craft1000",
              "type" : "button",
              "base" : "/Objects/Terminal/button.png",
              "hover" : "/Objects/Terminal/buttonhover.png",
              "position" : [117, 14],
              "caption" : "1000"
            },
            "submit" : {
              "callback" : "craftCount",
              "type" : "button",
              "base" : "/Objects/Terminal/button.png",
              "hover" : "/Objects/Terminal/buttonhover.png",
              "position" : [117, 28],
              "caption" : "Craft"
            },
            "how_many" : {
              "type" : "textbox",
              "position" : [2, 31],
              "maxWidth" : 80,
              "textAlign" : "center",
              "regex" : "x?\\d{0,4}",
              "escapeKey" : "close",
              "enterKey" : "crafthow_many",
              "callback" : "crafthow_many",
              "hint" : "How many?",
              "focus" : false
            },

            "back" : {
              "type" : "button",
              "base" : "/Objects/FilterFormatter/button.png",
              "hover" : "/Objects/FilterFormatter/buttonhover.png",
              "position" : [0, 0],
              "caption" : "Back"
            }
          }
        },
        "patternsArea" : {
          "type" : "scrollArea",
          "rect" : [0, 188, 154, 280],
          "children" : {
            "itemList" : {
              "type" : "list",
              "callback": "recipeClick",
              "schema" : {
                "selectedBG" : "/Objects/Terminal/itemselected.png",
                "unselectedBG" : "/Objects/Terminal/itembackground.png",
                "spacing" : [0, 1],
                "memberSize" : [140, 20],
                "listTemplate" : {
                  "doubleclick": {
                    "type" : "button",
                    "base" : "/Objects/Terminal/shadowbutton.png",
                    "position" : [0, 0]
                  },
                  "background" : {
                    "type" : "image",
                    "file" : "/Objects/Terminal/itembackground.png",
                    "position" : [0, 0],
                    "zlevel" : -1
                  },
                  "itemName" : {
                    "type" : "label",
                    "position" : [22, 18],
                    "hAnchor" : "left",
                    "vAnchor" : "top",
                    "wrapWidth" : 116,
                    "lineSpacing" : 1.05,
                    "value" : "Replace Me"
                  },
                  "itemIcon" : {
                    "type" : "itemslot",
                    "position" : [1, 1],
                    "showCount" : false,
                    "showRarity" : true,
                    "showDurability" : false,
                    "callback" : "doubleclick",
                    "rightClickCallback" : "null"
                  },
                  "countLabel" : {
                    "type" : "label",
                    "position" : [137, 0],
                    "hAnchor" : "right",
                    "value" : "0"
                  }
                }
              }
            }
          }
        },
        "ingredientsHeader" : {
          "type" : "label",
          "position" : [0, 180],
          "hAnchor" : "left",
          "color": "green",
          "value" : "Ingredients:"
        },
        "ingredientsArea" : {
          "type" : "scrollArea",
          "rect" : [0, 44, 154, 180],
          "children" : {
            "itemList" : {
              "type" : "list",
              "schema" : {
                "selectedBG" : "/Objects/Terminal/itembackground.png",
                "unselectedBG" : "/Objects/Terminal/itembackground.png",
                "spacing" : [0, 1],
                "memberSize" : [140, 20],
                "listTemplate" : {
                  "background" : {
                    "type" : "image",
                    "file" : "/Objects/Terminal/itembackground.png",
                    "position" : [0, 0],
                    "zlevel" : -1
                  },
                  "itemName" : {
                    "type" : "label",
                    "position" : [22, 18],
                    "hAnchor" : "left",
                    "vAnchor" : "top",
                    "wrapWidth" : 116,
                    "lineSpacing" : 1.05,
                    "value" : "Replace Me"
                  },
                  "itemIcon" : {
                    "type" : "itemslot",
                    "position" : [1, 1],
                    "showCount" : false,
                    "showRarity" : true,
                    "showDurability" : false,
                    "callback" : "null",
                    "rightClickCallback" : "null"
                  },
                  "craft": {
                    "type" : "button",
                    "base" : "/Objects/Terminal/itemCraftButton.png",
                    "position" : [22, 0],
                    "caption" : "Craft"
                  },
                  "countLabel" : {
                    "type" : "label",
                    "position" : [137, 0],
                    "hAnchor" : "right",
                    "color": "red",
                    "value" : "0"
                  }
                }
              }
            }
          }
        }
      }

    },
    "stationsTitle": {
      "type" : "label",
      "position" : [173, 292],
      "hAnchor" : "left",
      "value" : "Crafting stations"
    },
    "stations" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [168, 47, 324, 282],
      "children" : {
        "stationsArea" : {
          "type" : "scrollArea",
          "rect" : [0, 0, 154, 235],
          "children" : {
            "itemList" : {
              "type" : "list",
              "callback": "stationClick",
              "schema" : {
                "selectedBG" : "/Objects/Terminal/itemselected.png",
                "unselectedBG" : "/Objects/Terminal/itembackground.png",
                "spacing" : [0, 1],
                "memberSize" : [140, 20],
                "listTemplate" : {
                  "doubleclick": {
                    "type" : "button",
                    "base" : "/Objects/Terminal/shadowbutton.png",
                    "position" : [0, 0]
                  },
                  "background" : {
                    "type" : "image",
                    "file" : "/Objects/Terminal/itembackground.png",
                    "position" : [0, 0],
                    "zlevel" : -1
                  },
                  "stationName" : {
                    "type" : "label",
                    "position" : [22, 18],
                    "hAnchor" : "left",
                    "vAnchor" : "top",
                    "wrapWidth" : 116,
                    "lineSpacing" : 1.05,
                    "value" : "Replace Me"
                  },
                  "stationIcon" : {
                    "type" : "itemslot",
                    "position" : [1, 1],
                    "showCount" : false,
                    "showRarity" : true,
                    "showDurability" : false,
                    "callback" : "null",
                    "rightClickCallback" : "null"
                  },
                  "stage" : {
                    "type" : "label",
                    "position" : [137, 0],
                    "hAnchor" : "right",
                    "color": "green",
                    "value" : "MAX"
                  },
                  "upgrade": {
                    "visible": false,
                    "type" : "button",
                    "base" : "/Objects/Terminal/itemCraftButton.png",
                    "caption" : "Upgrade",
                    "position" : [100, 0]
                  }
                }
              }
            }
          }
        }
            }
        },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "position" : [143, 325]
    }
  },
  "scriptWidgetCallbacks" : [
    "how_many",
    "filterEnt",
    "filter",
    "clearFilter",
    "get1",
    "get10",
    "get100",
    "get1000",
    "getCount",
    "sort",
    "scan",
    "back",

    "recipeClick",
    "ingredientClick",
    "stationClick",
    "craft1",
    "craft10",
    "craft100",
    "craft1000",
    "craftCount",
    "craftfilter",
    "crafthow_many",
    "craftfilterEnt",

    "upgradeStation"



  ],
  "scripts" : ["/Objects/Terminal/digitalstorage_terminalGUI.lua"],
  "scriptDelta" : 0
}
