{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/Objects/ServerRack/digitalstorage_serverrackheader.png",
      "fileBody" : "/Objects/ServerRack/digitalstorage_serverrack_interfacebody.png",
      "fileFooter" : "/Objects/ServerRack/digitalstorage_serverrackfooter.png"
    },

    "itemGrid" : {
          "type" : "itemgrid",
          "position" : [45, 30],
          "dimensions" : [1, 4],
          "spacing" : [0, 20],
          "backingImage" : "/interface/inventory/empty.png"
        }
        // ,
    //
    // "drive1slot" : {
    //   "type" : "itemslot",
    //   "position" : [10, 30],
    //   "showCount" : true,
    //   "showRarity" : true,
    //   "showDurability" : false,
    //   "callback" : "drive1slot",
    //   "backingImage" : "/interface/inventory/empty.png",
    //   "rightClickCallback" : "null"
    // },
    // "drive1state" : {
    //   "type" : "button",
    //   "visible" : false,
    //   "callback" : "drive1state",
    //   "base" : "/Objects/FilterFormatter/button.png",
    //   "position" : [30, 30]
    // },
    // "drive2slot" : {
    //   "type" : "itemslot",
    //   "position" : [10, 50],
    //   "showCount" : true,
    //   "showRarity" : true,
    //   "showDurability" : false,
    //   "callback" : "drive2slot",
    //   "backingImage" : "/interface/inventory/empty.png",
    //   "rightClickCallback" : "null"
    // },
    // "drive2state" : {
    //   "type" : "button",
    //   "callback" : "drive2state",
    //   "visible" : false,
    //   "base" : "/Objects/FilterFormatter/button.png",
    //   "position" : [30, 50]
    // },
    // "drive3slot" : {
    //   "type" : "itemslot",
    //   "position" : [10, 70],
    //   "showCount" : true,
    //   "showRarity" : true,
    //   "showDurability" : false,
    //   "callback" : "drive3slot",
    //   "backingImage" : "/interface/inventory/empty.png",
    //   "rightClickCallback" : "null"
    // },
    // "drive3state" : {
    //   "type" : "button",
    //   "callback" : "drive3state",
    //   "visible" : false,
    //   "base" : "/Objects/FilterFormatter/button.png",
    //   "position" : [30, 70]
    // },
    // "drive4slot" : {
    //   "type" : "itemslot",
    //   "position" : [10, 90],
    //   "showCount" : true,
    //   "showRarity" : true,
    //   "showDurability" : false,
    //   "callback" : "drive4slot",
    //   "backingImage" : "/interface/inventory/empty.png",
    //   "rightClickCallback" : "null"
    // },
    // "drive4state" : {
    //   "type" : "button",
    //   "callback" : "drive4state",
    //   "visible" : false,
    //   "base" : "/Objects/FilterFormatter/button.png",
    //   "position" : [30, 90]
    // },
    // "close" : {
    //   "type" : "button",
    //   "base" : "/interface/x.png",
    //   "hover" : "/interface/xhover.png",
    //   "pressed" : "/interface/xpress.png",
    //   "position" : [161, 242]
    // }
  },
  // ,
   "scripts" : ["/Objects/ServerRack/digitalstorage_serverrackGUI.lua"]
  // "scriptWidgetCallbacks" : [
  //   "drive1slot",
  //   "drive1state",
  //   "drive2slot",
  //   "drive2state",
  //   "drive3slot",
  //   "drive3state",
  //   "drive4slot",
  //   "drive4state"
  // ],
  // "scriptDelta" : 0
}
